@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    /* border: 0.1px solid black !important; */
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.h-custom {
    height: calc(100vh - 50px);
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 20px;
    height: 20px;
    border: 1px solid #f6c700;
    background-color: #fff;
    cursor: pointer;
}

.checkbox:checked {
    accent-color: #FED52A;
    border-color: #FED52A;
}
