/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300..900&display=swap");

* {
    /* border: 0.1px solid black !important; */
}

body {
    font-family: "Noto Sans KR", sans-serif !important;
}

.h-custom {
    height: calc(100vh - 50px);
}

input[type="checkbox"] {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    accent-color: #fed52a;
    color: #ffffff !important;
    background-color: #fff !important;
    outline: 2px solid #FED52A !important;
}

input[type="checkbox"]::before {
    color: #ffffff; /* Set tick color to white */
}
