@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    /* border: 0.1px solid black !important; */
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.h-custom {
    height: calc(100vh - 50px);
}

.checkbox:checked {
    accent-color: #FED52A;
    border-color: #FED52A;
}

input[type=checkbox] {
    accent-color: #FED52A;
    border-color: #FED52A;
    color: white;
}
